<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>{{page_configure_title}}</title>
    {{> head }}
</head>

<body>
<input id="data" type="hidden" value="{{convertToString engineFunctions}}">
<div class="row wrapper">


    <div class="medium-9 columns">
        <main>

            LOGOUT SUCCESS
        </main>
    </div>
</div>



</body>

</html>