<!DOCTYPE html>

<html lang="{{lang}}">


<head>
    <title>Privacy Policy</title>
    {{> head }}
    <script src="/js/audio.js"></script>
</head>

<body>
<input id="data" type="hidden" value="{{convertToString engineFunctions}}">
<div class="row wrapper">

    <div class="medium-3 columns" aria-label="Navigation">
        <nav>
            {{> nav_client }}
            {{> nav_user_info }}
        </nav>
        {{> leave_site_info}}
    </div>

    <div class="medium-9 columns">
        <main>

            <div class="row" aria-label="Privacy Policy">
                <div class="columns">
                    {{#if (eq lang "de")}}
                        {{> pp_de}}
                    {{else if (eq lang "sv")}}
                        {{> pp_sv}}
                    {{else}}
                        {{> pp_en}}
                    {{/if}}
                </div>

            </div>
        </main>
        {{>footer}}
    </div>

</div>



</body>

</html>