<!DOCTYPE html>

<html lang="en">

<head>
    <title>NodeJS Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="container">

        <div class="row columns">

            <h1 id="message">Easy Reading configuration</h1>

            <h2>Own profile</h2>
            <ul>
                <li>
                    <a href="/profile">
                        Configure engines for your own user profile
                    </a>
                </li>
            </ul>

            <br>

            <h2>Admin</h2>
            <ul>
                <li>
                    <a href="/registerprofile">
                        Register new health care worker profile
                    </a>
                </li>
                <li>
                    <a href="/healthcareworker">
                        Configure health care worker
                    </a>
                </li>
            </ul>

            <br>

            <h2>Health care worker</h2>
            <ul>
                <li>
                    <a href="/profiles">
                        Configure engines for patients
                    </a>
                </li>
            </ul>
        </div>

    </main>

</body>

</html>