<!DOCTYPE html>

<html lang="en">

<head>
    <title>User list</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="container">

        <div class="row columns">

            <h1>Which user do you wish to modify configuration for?</h1>

            {{#each profiles}}
            <div class="js-select-profile profile" data-user-id="{{ googleID }}">
                {{ email }}
            </div>
            {{/each}}

            <br /><br /><a href="/">Back to start</a>

        </div>

    </main>


    <script type="text/javascript">
        const setUserAndRedirect = event => {
            sessionStorage.setItem('active-user', event.target.dataset.userId)
            window.location = `/configure?gid=${event.target.dataset.userId}`
        }

        const addHandlers = () =>
            [...document.getElementsByClassName('js-select-profile')]
                .forEach(el => el.addEventListener('click', setUserAndRedirect))

        addHandlers()
    </script>
</body>
</html>
