<!DOCTYPE html>

<html lang="en">

<head>
    <title>Register profilen</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main class="container">

        <div class="row columns">
            <h1>Register new health care worker profile</h1>

            <div class="form-group">
                <label for="email">Google email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@gmail.com">
            </div>
            <input type="button" value="Save" onclick="register()" />

            <br /><br /><a href="/">Back to start</a>
        </div>

    </main>

    <script type="text/javascript">

        const register = () => {
            console.log("register");

            const email = document.getElementById("email");
            const profile = {
                email: email.value
            }

            callCreateApi(profile);
        }

        const callCreateApi = (data) => {

            // TODO: refactor this
            fetch('/api/v1/profile', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    profile: data
                })
            })
                .then((response) => response.json())
                .then((response) => alert(JSON.stringify(response)))
                .catch((err) => {
                    alert(JSON.stringify(err))
                });
        }
    </script>

</body>

</html>
