#customBtn {
    display: inline-block;
    background: transparent;
    color: rgb(0,57,94);
    width: 190px;
    border-radius: 16px;
    border: thin solid rgb(0,57,94);
    /* box-shadow: 1px 1px 1px grey; */
    white-space: nowrap;
    text-decoration: none;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../../images/google-icon-transparent.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 16px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}