@import "../global.css";

#customBtn {
    display: inline-block;
    background: var(--color-light);
    color: var(--color-primary-dark);
    width: 130px;
    border-radius: var(--border-radius-m);
    border: thin solid var(--color-primary-dark);
    /* box-shadow: 1px 1px 1px grey; */
    white-space: nowrap;
    text-decoration: none;
}
#customBtn:hover {
    cursor: pointer;
}
span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('../../images/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: var(--font-size-s);
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}