.er-crs-active {
    animation:rotate 1s;
    animation-timing-function: cubic-bezier(.5,0,.25,.5);
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg) }
    to { -webkit-transform: rotate(180deg) }
}