.easy-reading-hover>img{
    max-width: 100% !important;
}

.easy-reading-hover-active{
    background-color: #ffc679 !important;
}

.easy-reading-hover{
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    padding: 0 !important;
}