.easy-reading-single-choice>img{
    max-width: 100%;
}

.easy-reading-single-choice-active{
    background-color: #ffc679;
}

.easy-reading-single-choice{
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
}