.swal2-container{
    z-index: 9999999999999999 !important;
}

#er-tab-slide-out-handle {
    background: url("images/logo_w.png") no-repeat center;
}

.tab-slide-out-animated{
    animation: tab-slide-out-scale-easeInBounce 0.7s reverse ease-in;
}


@keyframes tab-slide-out-scale-easeInBounce {
    0% {
        transform: scale(1);
    }

    4% {
        transform: scale(0.98);
    }

    8% {
        transform: scale(0.99);
    }

    18% {
        transform: scale(0.94);
    }

    26% {
        transform: scale(0.98);
    }

    46% {
        transform: scale(0.75);
    }

    64% {
        transform: scale(0.98);
    }

    76% {
        transform: scale(0.44);
    }

    88% {
        transform: scale(0.11);
    }

    100% {
        transform: scale(0);
    }

}

.easy-reading-button{
    background-color: white !important;
}