//
// Variables
//


//--------------------------------------------------------------*/
// COLORS
//--------------------------------------------------------------*/

// WHITE/GRAY/BLACK
$color-white:						#fff; 
$color-black:						#000;


// MIX
$error:                             #FFD1D1;

// Tabbed - border -etc
$tabbed-color:                      #ff9012;
$border-color:                      #b5d2db;


// Error colors
$color-error:                       $error;
$color-error-forms:                 #FEE9E9;
$color-error-forms-border:          #1F3F43
