//
// Variables
//


//--------------------------------------------------------------*/
// COLORS
//--------------------------------------------------------------*/

// WHITE/GRAY/BLACK
$color-white:						#fff; 
$color-black:						#000;


// MIX
$dark-grey:                         #303132;
$dirty-blue:                        #2E7589;
$light-navy:                        #17667c;
$purple:                            #8f6693;
$error:                             #FFD1D1;





// Tabbed - border -etc
$tabbed-color:                      $dirty-blue;
$border-color:                      #b5d2db;


// Error colors
$color-error:                       $error;
$color-error-forms:                 #FEE9E9;
$color-error-forms-border:          #1F3F43
