//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

.form-wrapper {
    padding: 1rem;
}

.form-field {
    padding: 0;
}

input[type=radio], input[type=checkbox] {

    &.tabbed {
        outline: 0;

        & + label {
            outline: 2px solid $tabbed-color;
        }
    }
}

textarea {
    padding: 0.6em 0.3em;
    min-height: 7em;
}

label {
    span {
        display: none;
    }
}

.validation-summary-errors {
    border: 1px solid $color-black;
    border-radius: 4px;
    background-color: $color-error;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
}

div[role=alert].validation-summary-errors {
    border: 0;
    margin: 0;
    border-radius: 0;
}

.errorOnThis {
    background-color: $color-error;
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 0;
    border: 1px solid black;
    border-radius: 4px;

    label {
        span {
            display: block;
            font-weight: bold;
            font-size: 15px;

            &:before {
                background: url("/css/cssimg/icons-sprite.svg") 0 -2797px no-repeat;
                width: 25px;
                height: 25px;
                overflow: hidden;
                content: "";
                //display: inline-block;
                display: none;
            }
        }
    }
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/
