//
// Variables
//


//--------------------------------------------------------------*/
// FUNKAs CSS
//--------------------------------------------------------------*/

// CSS FOR ALL DEVICES

input[type=radio], input[type=checkbox] {

    &.tabbed {
        box-shadow: none;

        & + label {
            box-shadow: 0 0 0px 3px $tabbed-color;
        }
    }
}

textarea {
    padding: 0.6em 0.3em;
    min-height: 7em;
}


//--------------------------------------------------------------*/
// CODE ABOVE IS FOR ALL SCREENS
// MEDIA QUERIES BELOW IS FOR MEDIUM + LARGE OR JUST LARGE
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
//--------------------------------------------------------------*/
// MEDIUM + LARGE SCREEN
@include breakpoint(medium) {

}

//--------------------------------------------------------------*/



//--------------------------------------------------------------*/
// LARGE SCREEN
@include breakpoint(large) {

}
//--------------------------------------------------------------*/
