<footer id="footer">
    <hr>
    <div class="pp">
        <ul>
            <li>
                <a href="/client/privacy-policy">{{privacy_policy}}</a>
            </li>
            <li>
                <a href="/client/privacy-policy-easy">{{privacy_policy_easy}}</a>
            </li>
            <li>
                <a href="/client/imprint">{{imprint}}</a>
            </li>
        </ul>


    </div>
    <div class="ec">

        <img src="/images/euflag.png" alt="Flag of the European Commission" class="ec_flag">
        {{eu_funding_string}}
    </div>

</footer>