<h1>
    INFORMATIONSPFLICHT BEI ERHEBUNG VON PERSONENBEZOGENEN DATEN NACH DER
    DATENSCHUTZ-GRUNDVERORDNUNG
</h1>

<strong>
    Im Zusammenhang mit der Nutzung des „Easy Reading“ Software-Framework
</strong>

<p>
    Die Johannes Kepler Universität Linz (in der Folge „JKU“) informiert Sie im
    Folgenden über die automationsunterstützte Verarbeitung Ihrer
    personenbezogenen (genauer: auf Sie beziehbarer persönlicher) Daten im
    Sinne des Art 4 Ziff. 1 Datenschutz-Grundverordnung (in der Folge „DSGVO“),
    deren Schutz das geltende Datenschutzrecht<sup><a href="#fn_1">[1]</a></sup> dient.
    Unter automationsunterstützter Verarbeitung ist im Sinne des Art 4
    Ziff. 2 DSGVO insbesondere die Erhebung, Erfassung und Speicherung
    personenbezogener Daten mit Hilfe automatisierter (technischer) Verfahren
    zu verstehen.
</p>
<h2>I. Angabe der Kontaktdaten:</h2>
<strong><u></u></strong>
<p>
    Verantwortliche der in der Folge beschriebenen Datenverarbeitung ist die
    Johannes Kepler Universität Linz (JKU), Altenberger Straße 69, 4040 Linz, <a href="mailto:datenschutz@jku.at">datenschutz@jku.at</a>.
</p>
<p>
    Der Datenschutzbeauftragte ist erreichbar unter Johannes Kepler Universität
    Linz (JKU), Stabstelle Datenschutz, Altenberger Straße 69, 4040 Linz, <a href="mailto:datenschutz@jku.at">datenschutz@jku.at</a>.
</p>

<h2>II. Hintergrund der Verarbeitung / Angabe des Zweckes, für welchen
    die personenbezogenen Daten verarbeitet werden sollen /
    Rechtsgrundlage der Verarbeitung / Kategorien von Empfängern der
    personenbezogenen Daten:</h2>

<ol>
    <li>
        <p>
            Mit dem cloud-basierten Easy Reading Software-Framework stellt die JKU,
            Institut Integriert Studieren als Betreiberin Nutzer(innen) mit kognitiven
            Beeinträchtigungen eine Browsererweiterung bzw. ein Support-Tool zur
            Verfügung zur Unterstützung und Vereinfachung der kognitiven Zugänglichkeit
            und Nutzung von Webseiten.
        </p>


        <p>
            Anlässlich der Inanspruchnahme von Unterstützungsleistungen des Easy
            Reading Software-Framework werden personenbezogene Daten der Nutzer(innen)
            als betroffene Personen, nämlich die vom/von der Nutzer(in) <strong>ausgewählten
            Spracheinstellungen</strong>,
            <strong>
                sonstige Einstellungen wie die Art des Userinterfaces und der in
                Anspruch genommenen Hilfeleistungen sowie dessen/deren Konfiguration
            </strong>
            und eine
            <strong>
                Statistik der vom/von der Nutzer(in) in Anspruch genommenen
                Hilfeleistungen
            </strong>
            verarbeitet. Der/die Nutzer(in) hat grundsätzlich die Möglichkeit, einen
            dauerhaften Easy Reading Account einzurichten, indem er/sie sich über einen
            aktiven Facebook- oder Google-Account einloggt; diesfalls wird auch
            seine/ihre <strong>Facebook- bzw. Google-ID</strong> sowie <strong>E-Mail-Adresse</strong> verarbeitet. Der
            Account
            bleibt nach dem
            Abmelden des/der Nutzer(s/in) weiterhin aufrecht, sodass der/die Nutzer(in)
            auch zu einem späteren Zeitpunkt auf die bereits gespeicherten und auf
            ihn/sie abgestimmten Einstellungen zurückgreifen kann. Abgesehen davon
            steht es den Nutzer(innen) frei, in anonymisierter Form einen temporären
            Easy Reading Account zu erstellen; dem/der Nutzer(in) wird diesfalls vom
            zentralen Cloud-Server für die Dauer der Nutzung des Support-Tools eine
            anonymisierte Benutzer-ID zur Verfügung gestellt; sobald sich der/die
            Nutzer(in) abmeldet (log-out), wird sein/ihr Account gelöscht.
        </p>
        <p>
            Diese personenbezogenen Daten werden auf einem zentralen Cloud-Server der <em>Amazon Web Services, Inc.</em>
            gespeichert. Sofern und soweit eine
            abschließende Bearbeitung der Anfragen bzw. ausgewählten Hilfeeinstellungen
            des/der Nutzer(s/in) über den zentralen Cloud-Server nicht möglich ist,
            werden diese Anfragen zur weiteren Umsetzung an externe Cloud-Server von <em>Microsoft Corporation
            (Microsoft Azure),
            TexthelpLtd. (Texthelp) </em>oder <em>IBM(IBM Bluemix bzw. IBM Cloud)</em> weitergeleitet.
        </p>

    </li>
    <li>
        <p>
            Die Verarbeitung der personenbezogenen Daten erfolgt <strong>zum Zweck</strong> der Erstellung und
            Verwaltung eines
            Easy Reading
            Accounts sowie der Bearbeitung bzw. Umsetzung der vom/von der Nutzer(in)
            ausgewählten Unterstützungsfunktionen (Anfragen) und damit zur Anpassung
            der Webinhalte an die individuellen Bedürfnisse des/der Nutzer(s/in)
            mittels personalisierter Userinterfaces. Die Erstellung und Verarbeitung
            einer Statistik über die vom/von der Nutzer(in) in Anspruch genommenen
            Hilfeleistungen erfolgt zum Zweck der Bereitstellung weiterer, auf die
            Bedürfnisse des/der Nutzer(s/in) abgestimmter Support-Tool-Empfehlungen.
        </p>
        <p>
            Zum Zwecke der Umsetzung der vom/von der Nutzer(in) in Anspruch genommenen
            Dienste wird zur Speicherung der Log-In-Daten und Spracheinstellungen im
            Einstellungsdialog der Browsererweiterung ein <em>Session Cookie</em>
            verwendet, der mit Beendigung der Sitzung durch Schließen des
            Browserfensters automatisch gelöscht wird.
        </p>

    </li>
    <li>
        <p>
            <strong>Rechtsgrundlage </strong>
            für die konkrete Verarbeitung der personenbezogenen Daten ist <strong>Art 6 Abs. 1 lit. f DSGVO</strong>.
            Die
            Verarbeitung der
            personenbezogenen Daten ist rechtmäßig, da sie zur Gewährleistung einer
            komfortablen, auf die individuellen Bedürfnisse der Nutzer(innen)
            abgestimmten Anwendung der Browsererweiterung bzw. Support-Tools sowie zur
            technischen Umsetzung der vom/von der Nutzer(in) ausgewählten Einstellungen
            bzw. Unterstützungsfunktionen und damit zur Wahrung berechtigter Interessen
            der JKU erforderlich ist. Durch die Verwendung des <em>Session Cookies</em>
            werden Log-In-daten und Spracheinstellungen des/der Nutzer(s/in)
            verarbeitet. Dieser Cookie ist zur Umsetzung der vom/von der Nutzer(in) in
            Anspruch genommen Dienste technisch notwendig und somit ebenso zur Wahrung
            berechtigter Interessen der JKU erforderlich.
        </p>
        <p>
            Es besteht keine Verpflichtung zur Bereitstellung der personenbezogenen
            Daten, bei einer Nichtbereitstellung kann jedoch der oben genannte Zweck
            nicht erreicht werden.
        </p>
    </li>
    <li>

        <p>
            <strong>Empfänger</strong>
            der personenbezogenen Daten sind die für die entsprechende Abwicklung
            notwendigen Organisationseinheiten der JKU - im Besonderen das Institut
            Integriert Studieren (IIS) sowie <em>Amazon Web Services, Inc.</em> als
            Auftragsverarbeiter und von diesem gegebenenfalls - zur Umsetzung bzw.
            Bearbeitung von Anfragen und ausgewählten Hilfeeinstellungen – eingesetzte
            externe Cloud-Anbieter wie <em>Microsoft Corporation</em><em>(Microsoft Azure)</em>, <em>Texthelp</em>
            <em>Ltd. </em>oder <em>IBM (IBM Bluemix bzw. IBM Cloud)</em>.
        </p>
        <p>
            <em>Amazon Web Services, Inc. (AWS)</em>
            ist ein US-amerikanischer Cloud-Computing-Anbieter mit Sitz in 410 Terry
            Ave North, Seattle, WA 98108-1226, USA und ein Tochterunternehmen von
            Amazon.com, Inc. Die Datenspeicherung erfolgt in einem Cloud-Rechenzentrum
            in Frankfurt am Main (Deutschland). Weitergehende Informationen zum
            Datenschutz siehe unter
            <a href="https://aws.amazon.com/de/privacy/">
                https://aws.amazon.com/de/privacy/
            </a>
            sowie
            <a href="https://aws.amazon.com/de/compliance/gdpr-center/">
                https://aws.amazon.com/de/compliance/gdpr-center/
            </a>
            .
        </p>
        <p>
            <em>Microsoft Azure</em>
            ist eine Cloud-Computing-Plattform der <em>Microsoft Corporation</em> mit
            Sitz in One Microsoft Way Redmond, WA 98052-6399, USA. Standort befindet
            sich in den Niederlanden. Weitergehende Informationen zum Datenschutz siehe
            unter
            <a href="https://www.microsoft.com/de-at/trust-center/privacy/data-location">
                https://www.microsoft.com/de-at/trust-center/privacy/data-location
            </a>
            sowie
            <a href="https://privacy.microsoft.com/de-de/privacystatement">
                https://privacy.microsoft.com/de-de/privacystatement
            </a>
            .
        </p>
        <p>
            <em>IBM Bluemix</em>
            <em>(IBM Cloud)</em>
            ist eine von der <em>International Business Machines Corporation (IBM)</em>
            entwickelte Cloud-Plattform als Service mit Sitz in 1 New Orchard Road,
            Armonk, NY 10504 -1722, USA. Die unter Punkt <strong>4.</strong>
            umschriebene Leistung wird über Server in den USA erbracht. Weitergehende
            Informationen zum Datenschutz siehe unter
            <a href="https://www.ibm.com/privacy/de/de/">
                https://www.ibm.com/privacy/de/de/
            </a>
            .
        </p>

        <p>
            Es wird aber darauf hingewiesen, dass sowohl <em>Amazon Web Services, Inc. (AWS)</em>, die <em>Microsoft
            Corporation</em> als auch <em>IBM</em> US-amerikanische
            Unternehmen sind, die eine gültige EU-US Privacy-Shield-Zertifizierung
            besitzen und somit nach derzeitigem Stand als Unternehmen gelten, die
            DSGVO-konform agieren: Die EU Kommission hielt in ihrem Beschluss vom
            12.07.2016 fest, dass die Übermittlung von Daten von einem für die
            Verarbeitung Verantwortlichen oder Auftragsverarbeiter in der EU an
            Organisationen in den USA, die sich durch Selbstzertifizierung beim
            Handelsministerium zur Einhaltung der Datenschutzgrundsätze verpflichtet
            haben, zulässig ist (Durchführungsbeschluss [EU] 2016/1250 siehe unter
            <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016D1250&amp;from=DE">
                https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016D1250&amp;from=DE
            </a>
            ).
        </p>
        <p>
            Die <em>Texthelp Ltd</em>. mit Sitz in Lucas Exchange, 1 Orchard Way,
            Greystone Road, Antrim, Nordirland, ist Anbieter diverser
            Technologielösungen, digitaler Tools und Dienstleistungen für kognitive
            Zugänglichkeit. Die unter Punkt <strong>4.</strong> umschriebene Leistung
            wird über Server in Nordirland erbracht. Das Vereinigte Königreich von
            Großbritannien und Nordirland ist mit Ablauf des 31. Jänner 2020 aus der
            Europäischen Union ausgetreten und das dazu ausgehandelte Austrittsabkommen
            ist am 1. Februar 2020, 00:00 MEZ/CET, in Kraft getreten. Mit bzw. durch
            Zustandekommen dieses Austrittsabkommens bleibt der im Warenverkehr mit dem
            Vereinigten Königreich maßgebliche EU-Rechtsbestand DSGVO im
            Übergangszeitraum bis 31. Dezember 2020 weiterhin anwendbar, sodass weiter
            die gleichen Regelungen gelten wie gegenüber EU-Mitgliedstaaten.
            Weitergehende Informationen zum Datenschutz siehe unter
            <a href="https://www.texthelp.com/en-gb/privacy/">
                https://www.texthelp.com/en-gb/privacy/
            </a>
            sowie
            <a href="https://www.texthelp.com/en-us/compliance/">
                https://www.texthelp.com/en-us/compliance/
            </a>
            .
        </p>
    </li>
</ol>


<h2>III. Angaben zur Speicherdauer:</h2>
<p>
    Die Speicherung bzw. Verarbeitung der personenbezogenen Daten erfolgt im
    Falle der Einrichtung eines dauerhaften Easy Reading Accounts bis zur
    Löschung desselben. Bei einem anonymen und temporär erstellten Account
    werden sämtliche personenbezogenen Daten bereits mit dem erstmaligen
    Abmelden (log-out) gelöscht.
</p>
<h2>IV. Rechte der betroffenen Person gemäß Art 15 bis 21 DSGVO:</h2>
<ul>
    <li>
        Recht auf Auskunft
    </li>
    <li>
        Recht auf Berichtigung
    </li>
    <li>
        Recht auf Löschung
    </li>
    <li>
        Recht auf Einschränkung der Verarbeitung
    </li>
    <li>
        Recht auf Datenübertragbarkeit
    </li>
    <li>
        Widerspruchsrecht
    </li>
</ul>

<h2>V. Information zur Datenschutzbehörde:</h2>
<p>
    Darüber hinaus kann sich die betroffene Person über eine ihrer Auffassung
    nach unzulässige Datenverarbeitung bei der österreichischen
    Datenschutzbehörde, Barichgasse 40-42, 1030 Wien, Tel.: + 43 1 52 152-0,
    E-Mail: <u><a href="mailto:dsb@dsb.gv.at">dsb@dsb.gv.at</a></u> beschweren.
</p>
<p>
    <u>Stand: Mai 2020</u>
</p>
<hr align="left" size="1" width="33%"/>
<div id="ftn1">
    <p>
        <a name="fn_1">
            [1]
        </a>
        Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates
        vom 27. April 2016 zum Schutz natürlicher Personen bei der
        Verarbeitung personenbezogener Daten, zum freien Datenverkehr und
        zur Aufhebung der Richtlinie 95/46/EG (<strong>DSGVO</strong>);
        Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung
        personenbezogener Daten (<strong>DSG</strong>), BGBl. I Nr.
        165/1999 zuletzt geändert durch BGBl. I Nr. 14/2019; Richtlinie
        (EU) 2016/680 des Europäischen Parlaments und des Rates vom 27.
        April 2016 zum Schutz natürlicher Personen bei der Verarbeitung
        personenbezogener Daten durch die zuständigen Behörden zum Zwecke
        der Verhütung, Ermittlung, Aufdeckung oder Verfolgung von
        Straftaten oder der Strafvollstreckung sowie zum freien
        Datenverkehr und zur Aufhebung des Rahmenbeschlusses 2008/977/JI
        des Rates (
        <strong>
            Die Datenschutz-Richtlinie für den Bereich Justiz und Inneres
        </strong>
        ), umgesetzt in den §§ 36-61 DSG.
    </p>
</div>