<div>

    <strong>
        Currently the simplified privacy policy is only available in German!
    </strong>

    <h1>Die Johannes-Kepler-Universität Linz (JKU) informiert hier über die automatisierte Verarbeitung Ihrer
        personenbezogenen Daten (Art. 4 DSGVO) bei Easy Reading.<sup><a href="#footnote1">[1]</a></sup></h1>

    <p><b>
        Das ist Leichte Sprache.<br>
        In Leichter Sprache erklären wir die wichtigsten Dinge.<br>
        Aber nur die original <a href="/client/privacy-policy"> Datenschutzerklärung</a> ist gültig.
    </b>
    </p>

    <p>
        Verantwortlich für diese Information ist die<br>
        <b>Johannes-Kepler-Universität Linz (JKU).</b><br>
        Datenschutz ist der JKU ein wichtiges Anliegen.

    </p>



    <h2>A. Allgemeine INFORMATION </h2>

    <p>
        Mit der Verwendung von Easy Reading <br>
        (Easy Reading-Software-Framework) können<br>
        personenbezogene Daten von Ihnen erhoben werden.<br>
        Um Ihre Daten zu schützen gibt es<br>
        die <b>Daten-Schutz-Grundverordnung</b> auch <b>DSGVO</b>.

    </p>

    <h3>1. Was ist Daten-Schutz?</h3>
    <p>
        Daten-Schutz bedeutet:
        Sie bestimmen darüber,
    <p>
    <ul>
        <li>wer Ihre Daten benuatzen darf,</li>
        <li>wofür man Ihre Daten benutzen darf.</li>
        <li>welche Daten gespeichert werden</li>
        <li>wie lange man die Daten verwenden darf.</li>
        <li>wie die Daten verwendet werden und auf welcher Rechtsgrundlage</li>
    </ul>
    <p> Ihre Daten heißen auch personenbezogenen Daten,<br>
        zum Beispiel:
    </p>
    <ul>
        <li>Ihr Name, Ihre Adresse</li>
        <li>Ihr Geburtstag</li>
        <li>aber auch andere Daten, z.B. E-Mail-Adresse oder Telefonnummer.</li>
    </ul>
    <p>
        In der DSGVO steht auch wie die computergestützte<br>
        Verarbeitung, Erhebung, Speicherung und die Aufbewahrung<br>
        von personenbezogenen Daten mit Hilfe automatisierter<br>
        (technischer) Verfahren zu regeln ist.

    </p>

    <h2>B. Kontakt zum Datenschutzbeauftragten der JKU</h2>
    <p>
        Sie haben Fragen, dann schreiben Sie an den Datenschutzbeauftragten<br>
        der <b>JKU</b><br>
        <b>Adresse:</b><br><br>
        Datenschutzbeauftragter der JKU<br>
        Altenberger Straße 69<br>
        A-4040 Linz<br><br>
        <b>Email:</b><br> <a href="mailto:atenschutz@jku.at"> datenschutz@jku.at</a><br>


    </p>

    <h2>C. Allgemeine Information zur Speicherung personenbezogenen Daten</h2>

    <p>
        Mit Easy Reading stellt die JKU eine ein Werkzeug<br>(eine Browser-Erweiterung) bereit.<br>
        Easy Reading soll Menschen mit Lernschwierigkeiten<br> beim Lesen und Verstehen von Websites unterstützten.<br>
        Mit der Verwendung von Easy Reading können<br> personenbezogene Daten von Ihnen erhoben werden.<br>

        Wir erklären Ihnen:
    </p>
    <ol>


        <li>Welche Daten werden von Ihnen gespeichert?</li>
        <li>Wo werden Ihre Daten gespeichert?</li>
        <li>Wofür werden Ihre Daten gebraucht?</li>
        <li>Wer kann Ihre Daten sehen?</li>
        <li>Wie lange werden Ihre Daten gespeichert?</li>
    </ol>

    <h3>1. Welche Daten werden von Ihnen gespeichert?</h3>
    <p>
        Um die Hilfen von Easy Reading zu benutzen werden diese Daten von Ihnen gespeichert:
    </p>
    <ul>
        <li>Die Grundeinstellungen (Landes-Sprache,<br> Benutzer-Oberfläche, anpassbare Hilfen);</li>
        <li>Die verschiedenen Werkzeuge und Hilfen (Hilfe beim Lesen, <br>Hilfe um das Aussehen der Seite zu
            verändern,<br> Hilfen zur Erklärung);
        </li>
        <li>Die verwendeten Assistenzdienste (Ihre Assistenten );</li>
        <li>Die Einstellungen zu den Hilfen und Statistiken.<br>
            (Statistik hier: Wie oft benutzt der Benutzer welche Hilfe?)
        </li>

    </ul>

    <p>
        Außerdem:<br>
        Als Benutzer von Easy Reading können Sie wählen:</p>
    <ul>
        <li>die Anmeldung mit einem <b>anonymen</b> Easy Reading-Konto (Konto ohne eigenen Namen)</li>
        <li>die Anmeldung von Easy Reading mit einem <b>Facebook-Konto</b>, oder</li>
        <li>die Anmeldung von Easy Reading mit einem <b>Google-Konto.</b></li>

    </ul>


    <h4>Anmeldung mit einem anonymen Easy Reading-Konto</h4>
    <p>
        Sie wollen Easy Reading anonym oder<br> nur für diese Sitzung im Internet benutzen.<br>
        <b>Das bedeutet:</b> Sie wollen Easy Reading anonym oder nur für dieses<br> eine Mal zum Beispiel: ausprobieren
        oder benutzen
    </p>


    <p>Dann legen Sie als Benutzer ein <b>anonymes</b> Easy Reading-Konto an.<br>
    <ul>

        <li> Als Benutzer bekommen Sie dann vom zentralen<br> Cloud-Server für die Dauer der Nutzung eine anonyme<br>
            Benutzer-Kennung(ID).
        </li>
        <li> Die Benutzer-Kennung wird bei jeder Anmeldung am<br> Computer automatisch erstellt.
        </li>
        <li> Dadurch können Sie Ihre persönlichen Einstellungen für<br> diese eine Sitzung speichern.
        </li>
        <li> Sobald Sie sich abmelden (ausloggen), werden diese<br> Einstellungen wieder gelöscht.
        </li>
        <li>Auch wenn Sie den Internetbrowser schließen, werden diese<br> Einstellungen gelöscht.
        </li>
    </ul>

    <h4>Anmeldung mit einem Facebook-Konto oder Google-Konto</h4>
    <p>
        Sie können als Benutzer auch dauerhaft ein<br>
        Easy Reading-Konto einrichten.<br>
        Dann müssen Sie sich mit einem Facebook-Konto oder<br> Google-Konto anmelden.
    </p>
    <ul>
        <li>Wenn man sich mit seinem Facebook- oder Google-Konto anmeldet, dann werden die Facebook-ID oder Google-ID
            und Ihre E-Mail-Adresse gespeichert.
        </li>
        <li>
            Das bedeutet:<br>
            Das Konto wird mit allen gespeicherten Einstellungen auch<br> nach der Abmeldung des Benutzers
            weitergeführt.
        </li>
        <li>
            So können Sie auch zu einem späteren Zeitpunkt auf<br> Easy Reading mit den gespeicherten und an Sie
            angepassten <br>Einstellungen zugreifen.
        </li>


    </ul>

    <h3>2. Wo werden Ihre Daten gespeichert?</h3>

    <p>
        Ihre Daten werden auf einem zentralen Cloud-Server gespeichert. (AWS von Amazon Web Services, Inc. ist ein
        Service von Amazon).

        Bei einigen persönlichen Hilfen ist in den Einstellungen eine Verarbeitung nur durch externe Cloud-Server
        möglich. Diese werden dann zum Beispiel entweder an die
    </p>
    <ul>
        <li>Microsoft Corporation (Microsoft Azure),</li>
        <li>Texthelp Ltd. (Texthelp),</li>
        <li>IBM (IBM Bluemix oder</li>
        <li>IBM Cloud) weitergeleitet.</li>

    </ul>

    <h3>3. Wofür werden Ihre Daten gebraucht?</h3>
    Diese Daten braucht man:
    <ul>
        <li>Für die Erstellung und Verwaltung Ihres <br> Easy Reading- Kontos;</li>
        <li>Für die Bearbeitung oder Umsetzung der von Ihnen ausgewählten Hilfe;</li>
        <li>Zur Anpassung der Webinhalte (z. B. auf der Internetseite)<br> an Ihre Bedürfnisse als Benutzer:<br>
            Das nennt man auch personalisierter User-Interface.
        </li>
        <li>Für die Erstellung einer Statistik:<br> Wie oft verwendet der Benutzer welche Hilfe?<br>
            Die Statistik wird verwendet, um Ihnen, dem Benutzer<br> passgenau weitere Hilfe anzubieten oder zu
            empfehlen.
        </li>
        <li>Zur Speicherung Ihrer Log-In-Daten und der<br> Spracheinstellungen in Easy Reading (als Browser-<br></br>Erweiterung)
            wird ein Session Cookie verwendet.<br> Dieses Cookie wird mit Ende der Sitzung durch Schließen des <br>Browserfensters
            automatisch gelöscht.
            <br>
            (Ein Cookie ist eine Datei, die von einem Webauftritt<br> auf dem Computer des Nutzers gespeichert wird.
            <br>Sie enthalten Informationen über den Benutzer um das Surfen<br> anwenderfreundlich zu machen.)
        </li>
    </ul>

    <h3>4. Wer kann Ihre Daten sehen? </h3>
    <p>
        Ihre Daten können nur von den folgenden Organisations-Einheiten<br> (Teil einer Organisation) gesehen
        werden.<br>
        Dies ist für die Abwicklung und das Funktionieren von Easy Reading notwendig.
    </p>
    <ul>
        <li>Die JKU - im Besonderen das Institut Integriert Studieren (IIS)</li>
        <li>Amazon Web Services, Inc. als Auftrags Verarbeiter</li>
        <li>und zur Umsetzung bzw. Bearbeitung von Anfragen und ausgewählten Hilfeeinstellungen externe Cloud-Anbieter
            wie
        </li>
        <ul>
            <li>Microsoft Corporation (Microsoft Azure),</li>
            <li>Texthelp Ltd.</li>
            <li>IBM (IBM Bluemix</li>
            <li>IBM Cloud).</li>
        </ul>

    </ul>

    <h3>5. Wie lange werden Ihre Daten gespeichert?</h3>
    <p>
        Die Dauer der Speicherung hängt davon ab,<br> was Sie für ein Easy Reading-Konto gewählt haben.
    </p>

    <h4>Anonymes Easy Reading-Konto:</h4>


    <p>Für die Dauer der Nutzung bekommt der Benutzer von einem zentralen Cloud-Server eine anonyme Benutzer-Kennung
        (ID).</p>
    <p>Die
    <ul>Benutzer-Kennung</ul>
    wird bei jeder Anmeldung am Computer automatisch erstellt.</p>
    <p>So kann der Benutzer seine persönlichen Einstellungen für diese eine Sitzung speichern.</p>
    <p>Bei einem <b>anonymen</b> Easy Reading-Konto werden alle personenbezogenen Daten mit dem Abmelden (log-out)
        sofort gelöscht.</p>
    <p>Auch wenn der Benutzer den Internetbrowser schließt, werden diese Einstellungen gelöscht.</p>

    <h4>Easy Reading-Konto mit Face-Book oder Google</h4>

    <p>Zunächst wird die Facebook-ID oder Google-ID und Ihre E-Mail-Adresse gespeichert.</p>
    <p>Dann wird das Easy Reading-Konto mit allen ausgewählten Einstellungen gespeichert.</p>
    <p>Auch die Änderungen werden gespeichert.</p>
    <p>Damit kann der Benutzer zu einem späteren Zeitpunkt auf sein Easy Reading-Konto mit den gespeicherten und
        angepassten Einstellungen zugreifen.</p>
    <p>Diese personenbezogenen Daten werden bis zu der Löschung des Easy Reading-Konto gespeichert oder verarbeitet.</p>

    <h2>D. Rechte der JKU als des Anbieters von Easy Reading nach Artikel 6 Absatz 1(f) DSGV</h2>

    <p>
        Um Ihre Daten zu schützen gibt es die Daten-Schutz-Grundverordnung.<br>
        Die JKU darf Ihre personenbezogenen Daten speichern und verarbeiten,<br>
        aus den folgenden Gründen:
    </p>
    <p>
        Die Speicherung und Verarbeitung der Daten ist notwendig,<br> um die die technische Umsetzung von Easy Reading
        zu ermöglichen. Damit wird das rechtmäßige Interesse der JKU geschützt.
    </p>
    Das Interesse umfasst:
    <ul>
        <li>die einfache Bedienung von Easy Reading;</li>
        <li>Einstellungsmöglichkeiten der Hilfen durch den<br> Benutzer selbst und Anpassung an die individuellen<br>
            Bedürfnisse des Benutzers;
        </li>
        <li>
            die Verwendung von Session Cookies, um<br>
            Anmeldedaten und Spracheinstellungen des Benutzers<br> verarbeiten zu können.
        </li>
    </ul>

    <p>
        Sie als Benutzer sind nicht dazu verpflichtet Ihre<br> persönlichen Daten verarbeiten oder speichern zu
        lassen.<br>
        Aber wenn Sie diese Daten nicht frei gegeben, können Sie <br>Easy Reading nicht benutzen.

    </p>

    <h2>E. Rechte des Benutzers (Art 15 bis 21 DSGVO)</h2>
    <p>Als Benutzer haben Sie aber auch Rechte:</p>
    <h3>1. Das Recht auf Auskunft</h3>
    <p>
        Sie können von der JKU Informationen verlangen.<br>
        Das heißt: <b>Recht auf Auskunft.</b><br>
        So können Sie herausfinden,<br>
        wer welche Daten die JKU von Ihnen hat.
    </p>

    <h3>2. Das Recht auf Berichtigung</h3>
    <p>
        Ihre Daten wurden falsch gespeichert.<br>
        Sie können sie berichtigen lassen.<br>
        Zum Beispiel:<br>
        Ihr Name wurde falsch geschrieben.<br>
        Dann muss die JKU das ändern.<br>
    </p>
    <h3>3. Das Recht auf Löschung Ihrer Daten oder Ihres Kontos</h3>
    <p>
        Sie möchten Easy Reading nicht mehr benutzen.<br>
        Dann können Sie Ihr Easy Reading-Konto löschen lassen.<br>
        Damit werden auch alle Ihre personenbezogenen Daten gelöscht
    </p>
    <h3>4. Recht auf Einschränkung der Verarbeitung </h3>

    <p>
        Nach Art 18 DSGVO hat die betroffene Person das Recht, die Einschränkung der Verarbeitung seiner Daten zu
        verlangen, wenn eine der nachstehenden Voraussetzungen erfüllt ist:
    </p>
    <p>Die betroffene Person kann die Richtigkeit der personenbezogenen Daten bestreiten. Für die Dauer der Prüfung der
        Richtigkeit durch den Verantwortlichen (JKU) hat die betroffene Person das Recht, die Einschränkung der
        Verarbeitung zu verlangen. Sobald der Verantwortliche feststellt, dass die Daten richtig sind, endet das Recht
        auf Einschränkung

    </p>
    <h3>5. Recht auf Datenübertragbarkeit </h3>

    <p>
        Die betroffene Person hat das Recht, die sie betreffenden personenbezogenen Daten, die sie einem
        Verantwortlichen bereitgestellt hat, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten,
        und sie hat das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen,
        dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln. Voraussetzung ist jedoch, dass die
        Verarbeitung auf einer Einwilligung oder einem Vertrag (Art 6 Abs 1 lit b DSGVO beruht)
    </p>

    <h3>6. Widerspruchsrecht</h3>

    <p>
        Sie haben ein Recht auf Widerspruch.<br>
        Widerspruch bedeutet:<br>
        Sie können sagen,<br>
        Ich möchte nicht das meine Daten weiter verarbeitet werden.<br>
        Dann dürfen Ihre Daten auch nicht mehr verarbeitetwerden.<br>
        In diesem Fall können Sie Easy Reading auch nicht mehr benutzen.<br>
    </p>

    <h2>F. Informationen zu den beteiligten Organisations-Einheiten (schwere Sprache)</h2>

    <p>
        <strong>Empfänger</strong>
        der personenbezogenen Daten sind die für die entsprechende Abwicklung
        notwendigen Organisationseinheiten der JKU - im Besonderen das Institut
        Integriert Studieren (IIS) sowie <em>Amazon Web Services, Inc.</em> als
        Auftragsverarbeiter und von diesem gegebenenfalls - zur Umsetzung bzw.
        Bearbeitung von Anfragen und ausgewählten Hilfeeinstellungen – eingesetzte
        externe Cloud-Anbieter wie <em>Microsoft Corporation</em><em>(Microsoft Azure)</em>, <em>Texthelp</em>
        <em>Ltd. </em>oder <em>IBM (IBM Bluemix bzw. IBM Cloud)</em>.
    </p>
    <ul>

        <li>
            <em>Amazon Web Services, Inc. (AWS)</em>
            ist ein US-amerikanischer Cloud-Computing-Anbieter mit Sitz in 410 Terry
            Ave North, Seattle, WA 98108-1226, USA und ein Tochterunternehmen von
            Amazon.com, Inc. Die Datenspeicherung erfolgt in einem Cloud-Rechenzentrum
            in Frankfurt am Main (Deutschland). Weitergehende Informationen zum
            Datenschutz siehe unter
            <a href="https://aws.amazon.com/de/privacy/">
                https://aws.amazon.com/de/privacy/
            </a>
            sowie
            <a href="https://aws.amazon.com/de/compliance/gdpr-center/">
                https://aws.amazon.com/de/compliance/gdpr-center/
            </a>
            .
        </li>
        <li>
            <em>Microsoft Azure</em>
            ist eine Cloud-Computing-Plattform der <em>Microsoft Corporation</em> mit
            Sitz in One Microsoft Way Redmond, WA 98052-6399, USA. Standort befindet
            sich in den Niederlanden. Weitergehende Informationen zum Datenschutz siehe
            unter
            <a href="https://www.microsoft.com/de-at/trust-center/privacy/data-location">
                https://www.microsoft.com/de-at/trust-center/privacy/data-location
            </a>
            sowie
            <a href="https://privacy.microsoft.com/de-de/privacystatement">
                https://privacy.microsoft.com/de-de/privacystatement
            </a>
            .
        </li>
    </ul>
    <p>
        Es wird aber darauf hingewiesen, dass sowohl <em>Amazon Web Services, Inc. (AWS)</em>, die <em>Microsoft
        Corporation</em> als auch <em>IBM</em> US-amerikanische
        Unternehmen sind, die eine gültige EU-US Privacy-Shield-Zertifizierung
        besitzen und somit nach derzeitigem Stand als Unternehmen gelten, die
        DSGVO-konform agieren: Die EU Kommission hielt in ihrem Beschluss vom
        12.07.2016 fest, dass die Übermittlung von Daten von einem für die
        Verarbeitung Verantwortlichen oder Auftragsverarbeiter in der EU an
        Organisationen in den USA, die sich durch Selbstzertifizierung beim
        Handelsministerium zur Einhaltung der Datenschutzgrundsätze verpflichtet
        haben, zulässig ist (Durchführungsbeschluss [EU] 2016/1250 siehe unter
        <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016D1250&amp;from=DE">
            https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32016D1250&amp;from=DE
        </a>
        ).
    </p>
    <p>
        Die <em>Texthelp Ltd</em>. mit Sitz in Lucas Exchange, 1 Orchard Way,
        Greystone Road, Antrim, Nordirland, ist Anbieter diverser
        Technologielösungen, digitaler Tools und Dienstleistungen für kognitive
        Zugänglichkeit. Die unter Punkt <strong>4.</strong> umschriebene Leistung
        wird über Server in Nordirland erbracht. Das Vereinigte Königreich von
        Großbritannien und Nordirland ist mit Ablauf des 31. Jänner 2020 aus der
        Europäischen Union ausgetreten und das dazu ausgehandelte Austrittsabkommen
        ist am 1. Februar 2020, 00:00 MEZ/CET, in Kraft getreten. Mit bzw. durch
        Zustandekommen dieses Austrittsabkommens bleibt der im Warenverkehr mit dem
        Vereinigten Königreich maßgebliche EU-Rechtsbestand DSGVO im
        Übergangszeitraum bis 31. Dezember 2020 weiterhin anwendbar, sodass weiter
        die gleichen Regelungen gelten wie gegenüber EU-Mitgliedstaaten.
        Weitergehende Informationen zum Datenschutz siehe unter
        <a href="https://www.texthelp.com/en-gb/privacy/">
            https://www.texthelp.com/en-gb/privacy/
        </a>
        sowie
        <a href="https://www.texthelp.com/en-us/compliance/">
            https://www.texthelp.com/en-us/compliance/
        </a>
        .
    </p>

    <h3>G. Information zur Datenschutzbehörde:</h3>
    Sie können sich hier informieren oder sich über jede Datenverarbeitung beschweren, die sie für nicht erlaubt halten.<br>

    <p>
        Österreichischen Datenschutzbehörde,<br>
        Barichgasse 40-42,<br>
        A- 1030 Wien, Tel.: + 43 1 52 152-0,<br>
        E-Mail: <a href="mailto:adsb@dsb.gv.at">dsb@dsb.gv.at</a> beschweren.<br>
    </p>


    <h2>Schwere Wörter Erklärungen</h2>
    <u>Benutzer-Erkennung:</u><br>
    Eine Benutzerkennung ist eine Erkennung des Benutzers. <br>Zusammen mit einem Passwort erhält der Benutzer Zugang zu
    einem abgeschlossenen Bereich.<br>

    <u>Cloud-Server:</u><br>
    Ein Cloud-Server ist ein virtueller Speicherplatz


    <hr>


    <span id="footnote1"> Gesetzes-Grundlagen hierzu sind (schwere Sprache):</span>


    <ul>
        <li>Die Verordnung (EU) 2016/679 des Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz
            natürlicher Personen bei der Verarbeitung personenbezogener Daten, zum freien Datenverkehr und zur Aufhebung
            der Richtlinie 95/46/EG (DSGVO);
        </li>
        <li>Das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung personenbezogener Daten (DSG), BGBl. I
            Nr. 165/1999 zuletzt geändert durch BGBl. I Nr. 14/2019;
        </li>
        <li>Die Richtlinie (EU) 2016/680, des Europäischen Parlaments und des Rates vom 27. April 2016 zum Schutz
            natürlicher Personen bei der Verarbeitung personenbezogener Daten durch die zuständigen Behörden zum Zwecke
            der Verhütung, Ermittlung, Aufdeckung oder Verfolgung von Straftaten oder der Strafvollstreckung sowie zum
            freien Datenverkehr und zur Aufhebung des Rahmenbeschlusses 2008/977/JI des Rates (Datenschutz-Richtlinie
            für den Bereich Justiz und Inneres), umgesetzt in den §§ 36-61 DSG
        </li>
    </ul>

</div>