#overlay-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}
.overlay-grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    max-width: 100px;
    text-align: center;
}

.overlay-fixed-dialog{
    position: fixed;
    top: 50px;
    right: 50px;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.overlay-animated{
    animation: overlay-scale-easeInBounce 0.7s reverse ease-in;
}

@keyframes overlay-scale-easeInBounce {
    0% {
        transform: scale(1);
    }

    4% {
        transform: scale(0.98);
    }

    8% {
        transform: scale(0.99);
    }

    18% {
        transform: scale(0.94);
    }

    26% {
        transform: scale(0.98);
    }

    46% {
        transform: scale(0.75);
    }

    64% {
        transform: scale(0.98);
    }

    76% {
        transform: scale(0.44);
    }

    88% {
        transform: scale(0.11);
    }

    100% {
        transform: scale(0);
    }

}
